<mat-toolbar color="primary" *ngIf="verificar()" class="vertical-toolbar">
  <button mat-button [routerLink]="['/homes']">
    <mat-icon>home</mat-icon>Home
  </button>
  <button mat-button [matMenuTriggerFor]="menuDelivery" *ngIf="isOperario()">
    <mat-icon>local_shipping</mat-icon>Delivery
  </button>
  <button mat-button [matMenuTriggerFor]="menuTarjeta" *ngIf="isOperario()">
    <mat-icon>credit_card</mat-icon>Tarjeta
  </button>
  <button mat-button [matMenuTriggerFor]="menuCategoria" *ngIf="isOperario()">
    <mat-icon>category</mat-icon>Categoria
  </button>
  <button mat-button [matMenuTriggerFor]="menuProducto" *ngIf="isOperario()">
    <mat-icon>grocery</mat-icon>Producto
  </button>
  <button mat-button [matMenuTriggerFor]="menuVenta" *ngIf="isOperario()">
    <mat-icon>shopping_cart</mat-icon>Venta
  </button>
  <button mat-button [matMenuTriggerFor]="menuReport">
    <mat-icon>file_copy</mat-icon>
     Reportes
  </button>
  <button mat-button [matMenuTriggerFor]="menuSalir"><mat-icon>person</mat-icon>Usuario</button>
</mat-toolbar>

<mat-menu #menuDelivery="matMenu">
  <button mat-menu-item routerLink="/deliveries">Listar</button>
  <button mat-menu-item routerLink="/deliveries/nuevo">Registrar</button>
</mat-menu>
<mat-menu #menuTarjeta="matMenu">
  <button mat-menu-item routerLink="/tarjetas">Listar</button>
  <button mat-menu-item routerLink="/tarjetas/nuevoa">Registrar</button>
</mat-menu>
<mat-menu #menuCategoria="matMenu">
  <button mat-menu-item routerLink="/categorias">Listar</button>
  <button mat-menu-item routerLink="/categorias/nuevoc">Registrar</button>
</mat-menu>
<mat-menu #menuProducto="matMenu">
  <button mat-menu-item routerLink="/productos">Listar</button>
  <button mat-menu-item routerLink="/productos/nuevop">Registrar</button>
</mat-menu>
<mat-menu #menuReport="matMenu">
  <button mat-menu-item routerLink="/reportes">Cantidad de deliveries por usuario</button>
  <button mat-menu-item routerLink="/reportes/reporte02">Cantidad de Usuarios por Role</button>
  <button mat-menu-item routerLink="/reportes/reporte03">Tipo de tarjeta más usado</button>
  <button mat-menu-item routerLink="/reportes/reporte04">Cantidad de tarjetas vencidas por tipo</button>
  <button mat-menu-item routerLink="/reportes/reporte05">Frecuencia</button>
  <button mat-menu-item routerLink="/reportes/reporte06">Cantidad</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>
<mat-menu #menuVenta="matMenu">
  <button mat-menu-item routerLink="/ventas">Listar</button>
  <button mat-menu-item routerLink="/ventas/nuevob">Registrar</button>
</mat-menu>
<mat-menu #menuSalir="matMenu">
  <button mat-menu-item routerLink="/login" (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
  <button mat-menu-item>
    Rol:
    <span>{{ role }}</span>
  </button>
</mat-menu>
<router-outlet></router-outlet>
