<div class="title-container, title">
  <div>
    <h1 style="color: #3fcd60; text-align: center; font-weight: bold">
      Registro de Deliveries
    </h1>
  </div>
  <form [formGroup]="form" (submit)="aceptar()" class="example-form">
    <mat-form-field *ngIf="edicion">
      <mat-label>Código del Producto</mat-label>
      <input matInput formControlName="codigo" readonly />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" />
      <mat-error *ngIf="form.get('nombre')?.hasError('required')"
        >EL campo es obligatorio.</mat-error
      >
    </mat-form-field>

    <br />
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="descripcion" />
      <mat-error *ngIf="form.get('descripcion')?.hasError('required')"
        >EL campo es obligatorio.</mat-error
      >
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Precio</mat-label>
      <input matInput formControlName="precio" />
      <mat-error *ngIf="form.get('precio')?.hasError('required')"
        >EL campo es obligatorio.</mat-error
      >
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Dispoibilidad</mat-label>
      <input matInput formControlName="disponibilidad" />
      <mat-error *ngIf="form.get('disponibilidad')?.hasError('required')"
        >EL campo es obligatorio.</mat-error
      >
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Foto</mat-label>
      <input matInput formControlName="foto" />
      <mat-error *ngIf="form.get('foto')?.hasError('required')"
        >EL campo es obligatorio.</mat-error
      >
    </mat-form-field>
    <br />
 
    <mat-form-field class="example-full-width">
      <mat-label>Usuario</mat-label>
      <mat-select formControlName="cusuario">
        <mat-option *ngFor="let c of listaCategoria" [value]="c.idCategoria">
          {{c.nombre}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('cusuario')?.hasError('required')"
      >El condominio es obligatorio.</mat-error>            
    </mat-form-field>

    <br />
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-4">
      <button mat-raised-button color="warn">Registar</button>
      <button mat-raised-button color="primary" routerLink="/productos">
        Cancelar
      </button>
    </div>
  </form>
</div>
